.koanPlayerContainer {
  width: 100%;
}

.description {
  padding: 1rem;
  padding-top: 0;
}

.buttonContainer {
  padding: 1rem;
  display: flex;
  gap: 1rem;

  justify-content: space-between;
}

.solutionOrResetButtons {
  display: flex;
  gap: 1rem;
}

.loadingContainer {
  margin: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
}

.editorContainer {
  border-bottom: solid thin var(--border-light-color);
}

@media screen and (min-width: 1000px) {
  .koanPlayerContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .playground {
    width: 60%;
    border-right: solid thin var(--border-light-color);
  }

  .description {
    width: 40%;
  }

  .editorContainer {
    height: 65vh;
  }
}
