.resultKoan {
  margin: 0;
  border-top: solid thin var(--border-light-color);
  padding-top: 1rem;
}

.container {
  display: flex;
  margin: 1rem;
  margin-top: 0;
  align-items: center;
}

.passedKoandAndNextButton {
  display: flex;
  gap: 0.5rem;
  color: #00a35c;
  margin-right: 1rem;
}

.wrongAnswerContainer {
  color: red;
  gap: 0.5rem;
}
