.resetKoanContainer {
  display: flex;
  flex-flow: wrap row;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-bottom: solid thin var(--nav-bg-color);
}

.resetButton {
  margin-left: 0.5rem;
}
