.chapterTitle {
  display: flex;
  gap: 0.5rem;

  background-color: transparent;
  border: none;
  font-size: 0.85rem;
  padding: 0.85rem;
  width: 100%;
}

.chapterTitle:disabled {
  color: inherit;
}

.chapterTitle:hover {
  background-color: var(--nav-bg-hover-color);
}
