.koan {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 0.85rem;
  padding: 0.85rem;
  padding-left: 1.5rem;
  gap: 0.5rem;
}

.koan:disabled {
  color: inherit;
}

.koanSelected {
  font-weight: bold;
}

.koan:hover {
  background-color: var(--nav-bg-hover-color);
}
