.navBarChapters {
  background-color: var(--nav-bg-color);
  height: fit-content;
}
.title {
  margin: 0;
  padding: 1rem;
  padding-inline-start: 2rem;
  border-bottom: solid thin #e8edeb;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}

.dropUpChapters {
  visibility: hidden;
  max-height: 0px;
}

.chapters {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 640px) {
  .navBarChapters {
    height: inherit;
    min-height: 93vh;
    border-right: solid thin var(--border-light-color);
  }
  .title {
    display: none;
  }
  .dropUpChapters {
    visibility: visible;
  }
  .chapters {
    min-width: 230px;
    max-width: max-content;
  }
}
