.normalButton,
.successButton {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2.5px;
  transition: 0.15s;
  color: #21313c;
  display: flex;
  gap: 0.5rem;
}

.normalButton {
  border-color: #b8c4c2;
  background-color: #fff;
  font-weight: 300;
}

.successButton {
  background-color: #00ed64;
  border-color: #00684a;
  border-width: 0.075rem;
  font-weight: bold;
}

.successButton:disabled,
.normalButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.normalButton:hover,
.successButton:hover {
  border-radius: 24px;
}

.normalButton:hover {
  background-color: #e8e8e8;
}

.normalButton:disabled:hover {
  background-color: #fff;
}

.successButton:disabled:hover,
.normalButton:disabled:hover {
  border-radius: 2.5px;
}
