:root {
  --nav-bg-color: #f9fbfa;
  --nav-bg-hover-color: #e8edeb;
  --border-light-color: #e8edeb;
}

body {
  margin: 0;
  color: #001e2b;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #00684a;
}

.top-bar {
  padding: 0.75rem 1.5rem;
  font-size: 1.35rem;
  border-bottom: solid #b8c4c2 thin;
  font-family: "Times New Roman", Times, serif;
}

.no-padding {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.player-container {
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.one-padding {
  padding: 1rem;
}

.width-max {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .player-container {
    flex-direction: row;
  }
}
